<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>learn vue.js</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <div id="app">
    <canvas @click="canvasClick" id="c1" width="552" height="552"></canvas>
    <br>
    <input type="range" min="3" max="13" step="1" v-model="size">
    <div>{{ size }}</div>
  </div>

  <script src="js/main.js"></script>

</body>
</html>